<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/figures/PDSH-cover-small.png?raw=1">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

<!--NAVIGATION-->
< [Pivot Tables](03.09-Pivot-Tables.ipynb) | [Contents](Index.ipynb) | [Working with Time Series](03.11-Working-with-Time-Series.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.10-Working-With-Strings.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

# Vectorized String Operations

One strength of Python is its relative ease in handling and manipulating string data.
Pandas builds on this and provides a comprehensive set of *vectorized string operations* that become an essential piece of the type of munging required when working with (read: cleaning up) real-world data.
In this section, we'll walk through some of the Pandas string operations, and then take a look at using them to partially clean up a very messy dataset of recipes collected from the Internet.

## Introducing Pandas String Operations

We saw in previous sections how tools like NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [1]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

This *vectorization* of operations simplifies the syntax of operating on arrays of data: we no longer have to worry about the size or shape of the array, but just about what operation we want done.
For arrays of strings, NumPy does not provide such simple access, and thus you're stuck using a more verbose loop syntax:

In [2]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

This is perhaps sufficient to work with some data, but it will break if there are any missing values.
For example:

In [3]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

Pandas includes features to address both this need for vectorized string operations and for correctly handling missing data via the ``str`` attribute of Pandas Series and Index objects containing strings.
So, for example, suppose we create a Pandas Series with this data:

In [4]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

We can now call a single method that will capitalize all the entries, while skipping over any missing values:

In [5]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

Using tab completion on this ``str`` attribute will list all the vectorized string methods available to Pandas.

## Tables of Pandas String Methods

If you have a good understanding of string manipulation in Python, most of Pandas string syntax is intuitive enough that it's probably sufficient to just list a table of available methods; we will start with that here, before diving deeper into a few of the subtleties.
The examples in this section use the following series of names:

In [6]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

### Methods similar to Python string methods
Nearly all Python's built-in string methods are mirrored by a Pandas vectorized string method. Here is a list of Pandas ``str`` methods that mirror Python string methods:

|             |                  |                  |                  |
|-------------|------------------|------------------|------------------|
|``len()``    | ``lower()``      | ``translate()``  | ``islower()``    | 
|``ljust()``  | ``upper()``      | ``startswith()`` | ``isupper()``    | 
|``rjust()``  | ``find()``       | ``endswith()``   | ``isnumeric()``  | 
|``center()`` | ``rfind()``      | ``isalnum()``    | ``isdecimal()``  | 
|``zfill()``  | ``index()``      | ``isalpha()``    | ``split()``      | 
|``strip()``  | ``rindex()``     | ``isdigit()``    | ``rsplit()``     | 
|``rstrip()`` | ``capitalize()`` | ``isspace()``    | ``partition()``  | 
|``lstrip()`` |  ``swapcase()``  |  ``istitle()``   | ``rpartition()`` |

Notice that these have various return values. Some, like ``lower()``, return a series of strings:

In [7]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

But some others return numbers:

In [8]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

Or Boolean values:

In [9]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

Still others return lists or other compound values for each element:

In [10]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

We'll see further manipulations of this kind of series-of-lists object as we continue our discussion.

### Methods using regular expressions

In addition, there are several methods that accept regular expressions to examine the content of each string element, and follow some of the API conventions of Python's built-in ``re`` module:

| Method | Description |
|--------|-------------|
| ``match()`` | Call ``re.match()`` on each element, returning a boolean. |
| ``extract()`` | Call ``re.match()`` on each element, returning matched groups as strings.|
| ``findall()`` | Call ``re.findall()`` on each element |
| ``replace()`` | Replace occurrences of pattern with some other string|
| ``contains()`` | Call ``re.search()`` on each element, returning a boolean |
| ``count()`` | Count occurrences of pattern|
| ``split()``   | Equivalent to ``str.split()``, but accepts regexps |
| ``rsplit()`` | Equivalent to ``str.rsplit()``, but accepts regexps |

With these, you can do a wide range of interesting operations.
For example, we can extract the first name from each by asking for a contiguous group of characters at the beginning of each element:

In [11]:
monte.str.extract('([A-Za-z]+)', expand=False)

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

Or we can do something more complicated, like finding all names that start and end with a consonant, making use of the start-of-string (``^``) and end-of-string (``$``) regular expression characters:

In [12]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

The ability to concisely apply regular expressions across ``Series`` or ``Dataframe`` entries opens up many possibilities for analysis and cleaning of data.

### Miscellaneous methods
Finally, there are some miscellaneous methods that enable other convenient operations:

| Method | Description |
|--------|-------------|
| ``get()`` | Index each element |
| ``slice()`` | Slice each element|
| ``slice_replace()`` | Replace slice in each element with passed value|
| ``cat()``      | Concatenate strings|
| ``repeat()`` | Repeat values |
| ``normalize()`` | Return Unicode form of string |
| ``pad()`` | Add whitespace to left, right, or both sides of strings|
| ``wrap()`` | Split long strings into lines with length less than a given width|
| ``join()`` | Join strings in each element of the Series with passed separator|
| ``get_dummies()`` | extract dummy variables as a dataframe |

#### Vectorized item access and slicing

The ``get()`` and ``slice()`` operations, in particular, enable vectorized element access from each array.
For example, we can get a slice of the first three characters of each array using ``str.slice(0, 3)``.
Note that this behavior is also available through Python's normal indexing syntax–for example, ``df.str.slice(0, 3)`` is equivalent to ``df.str[0:3]``:

In [13]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

Indexing via ``df.str.get(i)`` and ``df.str[i]`` is likewise similar.

These ``get()`` and ``slice()`` methods also let you access elements of arrays returned by ``split()``.
For example, to extract the last name of each entry, we can combine ``split()`` and ``get()``:

In [14]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

#### Indicator variables

Another method that requires a bit of extra explanation is the ``get_dummies()`` method.
This is useful when your data has a column containing some sort of coded indicator.
For example, we might have a dataset that contains information in the form of codes, such as A="born in America," B="born in the United Kingdom," C="likes cheese," D="likes spam":

In [15]:
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C',
                                    'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

The ``get_dummies()`` routine lets you quickly split-out these indicator variables into a ``DataFrame``:

In [16]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

With these operations as building blocks, you can construct an endless range of string processing procedures when cleaning your data.

We won't dive further into these methods here, but I encourage you to read through ["Working with Text Data"](http://pandas.pydata.org/pandas-docs/stable/text.html) in the Pandas online documentation, or to refer to the resources listed in [Further Resources](03.13-Further-Resources.ipynb).

## Example: Recipe Database

These vectorized string operations become most useful in the process of cleaning up messy, real-world data.
Here I'll walk through an example of that, using an open recipe database compiled from various sources on the Web.
Our goal will be to parse the recipe data into ingredient lists, so we can quickly find a recipe based on some ingredients we have on hand.

The scripts used to compile this can be found at https://github.com/fictivekin/openrecipes, and the link to the current version of the database is found there as well.

As of Spring 2016, this database is about 30 MB, and can be downloaded and unzipped with these commands:

In [23]:
#!pip install gunzip
#!curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz
#!gunzip recipeitems-latest.json.gz

The database is in JSON format, so we will try ``pd.read_json`` to read it:

In [24]:
try:
    #recipes = pd.read_json('recipeitems-latest.json')
    recipes = pd.read_json('openrecipes.txt.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Trailing data

Oops! We get a ``ValueError`` mentioning that there is "trailing data."
Searching for the text of this error on the Internet, it seems that it's due to using a file in which *each line* is itself a valid JSON, but the full file is not.
Let's check if this interpretation is true:

In [40]:
#with open('recipeitems-latest.json') as f:
#with open('openrecipes.txt.json') as f:
#    line = f.readline()
#pd.read_json(line).shape
#pd.read_json(line)
#line.shape

In [48]:
from io import StringIO
import json
with open('openrecipes.txt.json') as f:
    line = f.readline()
#pd.read_json(line).shape
#pd.read_json(StringIO(line), orient='records', typ='series')
pd.read_json(StringIO(line), typ='series')

name                                      Easter Leftover Sandwich
ingredients      12 whole Hard Boiled Eggs\n1/2 cup Mayonnaise\...
url              http://thepioneerwoman.com/cooking/2013/04/eas...
image            http://static.thepioneerwoman.com/cooking/file...
cookTime                                                        PT
recipeYield                                                      8
datePublished                                           2013-04-01
prepTime                                                     PT15M
description      Got leftover Easter eggs?    Got leftover East...
dtype: object

Yes, apparently each line is a valid JSON, so we'll need to string them together.
One way we can do this is to actually construct a string representation containing all these JSON entries, and then load the whole thing with ``pd.read_json``:

In [51]:
# read the entire file into a Python array
#with open('recipeitems-latest.json', 'r') as f:
with open('openrecipes.txt.json', 'r') as f:
    # Extract each line
    data = (line.strip() for line in f)
    # Reformat so each line is the element of a list
    data_json = "[{0}]".format(','.join(data))
# read the result as a JSON
recipes = pd.read_json(StringIO(data_json))

In [53]:
recipes.shape
# we are using a sample only of the dataset

(1042, 9)

We see there are nearly 200,000 recipes, and 17 columns.
Let's take a look at one row to see what we have:

In [54]:
recipes.iloc[0]

name                                      Easter Leftover Sandwich
ingredients      12 whole Hard Boiled Eggs\n1/2 cup Mayonnaise\...
url              http://thepioneerwoman.com/cooking/2013/04/eas...
image            http://static.thepioneerwoman.com/cooking/file...
cookTime                                                        PT
recipeYield                                                      8
datePublished                                           2013-04-01
prepTime                                                     PT15M
description      Got leftover Easter eggs?    Got leftover East...
Name: 0, dtype: object

There is a lot of information there, but much of it is in a very messy form, as is typical of data scraped from the Web.
In particular, the ingredient list is in string format; we're going to have to carefully extract the information we're interested in.
Let's start by taking a closer look at the ingredients:

In [55]:
recipes.ingredients.str.len().describe()

count    1042.000000
mean      358.645873
std       187.332133
min        22.000000
25%       246.250000
50%       338.000000
75%       440.000000
max      3160.000000
Name: ingredients, dtype: float64

The ingredient lists average 250 characters long, with a minimum of 0 and a maximum of nearly 10,000 characters!

Just out of curiousity, let's see which recipe has the longest ingredient list:

In [57]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

'A Nice Berry Pie'

In [74]:
print(recipes[recipes.name == 'A Nice Berry Pie'].ingredients)
print(recipes[recipes.name == 'A Nice Berry Pie'].ingredients.str.split('\n').values[0])

934    Flaky Rye Pie Crust\n75 g / v. scant 2/3 cup r...
Name: ingredients, dtype: object
['Flaky Rye Pie Crust', '75 g / v. scant 2/3 cup rye flour', '175g / 1 1/2 cups unbleached all-purpose flour', '1/4 teaspoon fine grain sea salt', '8 oz / 1 cup salted butter', '1/3 cup / 80 ml cold water or beer', "You can make the crust using the quick and popular food processor technique. BUT I always make it by hand, using the above ingredients, and this technique. If you like a super-puffy crust, do the folding in Pim's instructions 4x. I usually like mine less so, and fold &amp; roll just 2 or 3 times, depending on how the dough is feeling. The pie in the photo was 3x.", 'Berry Pie Filling', '2/3 cup / 3.5 oz / 100g natural cane or brown sugar', '1/3 cup / 1.5 oz / 45 g flour (apf or wwp)', '1/4 teaspoon fine grain sea salt', '1/2 teaspoon cinnamon', '2 sprigs thyme (prefer. lemon thyme) ~ 1/2 t.', '2 pounds of berries, (see head notes)', '2 tablespoons lemon juice', '2 tablespoons butter', '1 egg plus 1 tablespoon water, whisked', 'Large grain sugar, for sprinkling', "Preheat your oven to 425F / 220C, with a rack in the bottom third. Roll out your pie crust - top and bottom - on a flour dusted counter. I tend to work the edges a bit first (particularly if I'm getting cracks) - roll and turn, roll and turn, dusting with flour when necessary. Flip once or twice. Work quickly and keep the dough moving. Place between unbleached parchment paper or Silpats, and refrigerate while you make the filling. If you're nervous about rolling out the crust, have a look at the second part of Melissa Clark's video. See how she's not super fussy? Channel some of that. If you need an extra confidence booster, read this. It's o.k. if your dough doesn't roll out into a perfect circle - you can patch and pinch later if needed. Just shoot for 11 or 12-inch inch rounds.", 'Make the filling by combining the sugar, flour, salt, cinnamon, and thyme in large mixing bowl. Add the berries, and toss gently until well combined. Set aside.', 'Line a 9 or 10-inch pie plate with the bottom piece of pie dough. Guide it into place without stretching. You want about an inch of dough extending past the rim of the pie plate, trim a bit with scissors or a sharp knife if needed.', "Fill the crust with the berries, drizzle with lemon juice, and dot with the butter. Brush the rim of the bottom crust with a bit of egg wash, then top with the other piece of pie crust. Trim the top crust a bit if needed, then press the top and bottom crusts together at the edges. Working around the rim, tuck the overhanging dough under itself, and crimp with a fork or flute using your fingers (see picture up above). Brush the crust with more of the egg wash, cut a few slits into the top, and place in the oven for about 45 minutes - until the crust is deeply golden. Check your pie regularly after 25 minutes. If you need to foil the edges of the pie - pull it out and do so - this way the edges wont get too dark and dry. I don't have to foil in my oven for this pie, even at this temp, but your oven might be a bit different. I also sprinkle with large-grain sugar about 25 minutes in - for a little extra crunch and sweetness. Let cool a bit, slice and serve.", 'Serves 8.', '', 'Prep time: 90 min  - ', '   Cook time: 45 min   ', '  ', 'Print Recipe']

That certainly looks like an involved recipe.

We can do other aggregate explorations; for example, let's see how many of the recipes are for breakfast food:

In [75]:
recipes.description.str.contains('[Bb]reakfast').sum()

11

Or how many of the recipes list cinnamon as an ingredient:

In [76]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

79

We could even look to see whether any recipes misspell the ingredient as "cinamon":

In [77]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

0

This is the type of essential data exploration that is possible with Pandas string tools.
It is data munging like this that Python really excels at.

### A simple recipe recommender

Let's go a bit further, and start working on a simple recipe recommendation system: given a list of ingredients, find a recipe that uses all those ingredients.
While conceptually straightforward, the task is complicated by the heterogeneity of the data: there is no easy operation, for example, to extract a clean list of ingredients from each row.
So we will cheat a bit: we'll start with a list of common ingredients, and simply search to see whether they are in each recipe's ingredient list.
For simplicity, let's just stick with herbs and spices for the time being:

In [86]:
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley',
              'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

We can then build a Boolean ``DataFrame`` consisting of True and False values, indicating whether this ingredient appears in the list:

In [87]:
import re
spice_df = pd.DataFrame(dict((spice, recipes.ingredients.str.contains(spice, re.IGNORECASE))
                             for spice in spice_list))
spice_df.tail()

,salt,pepper,oregano,sage,parsley,rosemary,tarragon,thyme,paprika,cumin
1037,True,False,False,False,False,False,False,False,False,False
1038,True,False,False,False,False,False,False,False,False,False
1039,False,True,False,False,False,False,False,False,False,False
1040,True,False,False,False,False,False,False,False,False,False
1041,True,True,False,False,False,False,False,False,False,False

Now, as an example, let's say we'd like to find a recipe that uses parsley, paprika, and tarragon.
We can compute this very quickly using the ``query()`` method of ``DataFrame``s, discussed in [High-Performance Pandas: ``eval()`` and ``query()``](03.12-Performance-Eval-and-Query.ipynb):

In [88]:
selection2 = spice_df.query('salt & pepper & cumin')
len(selection2)

17

In [89]:
selection2

,salt,pepper,oregano,sage,parsley,rosemary,tarragon,thyme,paprika,cumin
570,True,True,True,False,False,False,False,False,False,True
641,True,True,False,False,False,False,False,False,False,True
655,True,True,False,False,False,False,False,False,False,True
670,True,True,False,False,False,False,False,False,False,True
680,True,True,False,False,False,False,False,True,False,True
688,True,True,False,False,False,False,False,False,False,True
690,True,True,True,False,False,False,False,False,False,True
691,True,True,False,False,False,False,False,False,True,True
759,True,True,False,False,False,False,False,False,False,True
812,True,True,False,False,False,False,False,False,False,True
814,True,True,False,False,False,False,False,False,False,True
817,True,True,False,False,False,False,False,False,False,True
818,True,True,False,False,False,False,False,False,False,True
826,True,True,False,False,False,False,False,False,False,True
838,True,True,False,False,False,False,False,False,False,True
1016,True,True,False,False,False,False,False,False,False,True
1032,True,True,False,False,False,False,False,False,False,True

We find only 10 recipes with this combination; let's use the index returned by this selection to discover the names of the recipes that have this combination:

In [91]:
recipes.name[selection.index]

570     Pierce Street Vegetarian Chili Recipe
641                 Sesame Yogurt Pasta Salad
655                                Palak Daal
670          My Favorite Grilled Kabob Recipe
680            Jamaican Veggie Patties Recipe
688                       Tempeh Curry Recipe
690                         Red Posole Recipe
691                        Feisty Green Beans
759         Chile Lime Tequila Popcorn Recipe
812                      Spiced Tomato Gratin
814                      New Year Noodle Soup
817         Winter Vegetable &amp; Tofu Korma
818                    Spiced Coconut Spinach
826          Moroccan Mint Roasted Vegetables
838        Morrocan Carrot and Chickpea Salad
1016                            Dukkah Recipe
1032        Baked Sweet Potato Falafel Recipe
Name: name, dtype: object

In [92]:
recipes.name[selection2.index]

570     Pierce Street Vegetarian Chili Recipe
641                 Sesame Yogurt Pasta Salad
655                                Palak Daal
670          My Favorite Grilled Kabob Recipe
680            Jamaican Veggie Patties Recipe
688                       Tempeh Curry Recipe
690                         Red Posole Recipe
691                        Feisty Green Beans
759         Chile Lime Tequila Popcorn Recipe
812                      Spiced Tomato Gratin
814                      New Year Noodle Soup
817         Winter Vegetable &amp; Tofu Korma
818                    Spiced Coconut Spinach
826          Moroccan Mint Roasted Vegetables
838        Morrocan Carrot and Chickpea Salad
1016                            Dukkah Recipe
1032        Baked Sweet Potato Falafel Recipe
Name: name, dtype: object

Now that we have narrowed down our recipe selection by a factor of almost 20,000, we are in a position to make a more informed decision about what we'd like to cook for dinner.

### Going further with recipes

Hopefully this example has given you a bit of a flavor (ba-dum!) for the types of data cleaning operations that are efficiently enabled by Pandas string methods.
Of course, building a very robust recipe recommendation system would require a *lot* more work!
Extracting full ingredient lists from each recipe would be an important piece of the task; unfortunately, the wide variety of formats used makes this a relatively time-consuming process.
This points to the truism that in data science, cleaning and munging of real-world data often comprises the majority of the work, and Pandas provides the tools that can help you do this efficiently.

<!--NAVIGATION-->
< [Pivot Tables](03.09-Pivot-Tables.ipynb) | [Contents](Index.ipynb) | [Working with Time Series](03.11-Working-with-Time-Series.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.10-Working-With-Strings.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>